@import "framework.less";
@import "mixin.less";

@font-face {
  font-family: Europa-bold;
  src: url(https://raw.githack.com/limbforge/website/master/app/assets/fonts/europa-bold-webfont.ttf);
}

@font-face {
  font-family: Europa;
  src: url(https://raw.githack.com/matthova/the-button/master/src/client/fonts/europa-regular-webfont.ttf);
}
body {
  font-family: Europa-bold;
}

button, .notification {
 background-color:transparent;
 border-radius: 7px; 
}



.is-info, .notification.is-info {
  background-color: #8530f1;
  color: #fff;
}

.is-alert{
  background-color: #F130AF;
  color: #fff;
}

.hero{
  img{
    width: 45%;
  }
}

.call-out{
  margin: 40px -10px;
  height:8em;
  display: flex;
  align-items: center;
  justify-content: center;
  h1, h2, h3{
    color: #fff;
  }
  .gradient();
}

form{
  background-color: inherit;
  box-shadow: none;
}

form fieldset {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
