section.section.sticky#top
  .container.wide.shadowed
    nav.navbar.columns
      button.column.has-text-centered
        a(href="#top")
          img(src='/assets/Latitude_logotype.svg')
      button.column.has-text-centered
        a.link.is-info(href='#form') Try it

section.section
  .container
    .columns
      .column.hero.has-text-centered
        h1.notification Online spaces #[br.mobile-only] that  actually #[br.mobile-only] encourage people #[br.mobile-only] to be together
        img(src="/assets/work_together_with_lt2d.svg")
  .container
    .columns
      .column.hero.has-text-centered
        h2.notification A video chat platform #[br.mobile-only] that transforms how #[br.mobile-only] you work, play, teach #[br.mobile-only] and learn online.
    .columns.info.has-text-centered
      .column
        img(src="/assets/Keys.svg")
        h3 No links or invitations #[br.mobile-only] to manage
        p Get the key to your own, permanant virtual building!
      .column
        img(src="/assets/Spaces.svg")
        h3 Interconnected rooms #[br.mobile-only] and spaces
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Apps.svg")
        h3 Embedded content #[br.mobile-only] and apps
        p Personalise rooms with whiteboards, books, videos and more.
  .container
    .columns
      .column.hero.is-info.call-out.gradient
        .has-text-centered
          h1.notification Can virtual #[br.mobile-only] experiences spark joy #[br.mobile-only] and creativity? We think so!
          button
            a(href='#form') Try it for free
    .columns
      .column.hero.has-text-centered
        h2.notification Just what you need, #[br.mobile-only] right when you need #[br.mobile-only] it.
    .columns.info.has-text-centered
      .column
        img(src="/assets/Easy.svg")
        h3 Easy-to-use
        p Enjoy a space that is easy to access and easy to use ... for everyone
      .column
        img(src="/assets/Customisable.svg")
        h3 Customisable
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Support.svg")
        h3 Support
        p Speak with a real person when something’s not right.
  .container
    .columns
      .column#form.call-out.last
        .notification
          div.hero.has-text-centered
            h1.notification Get a 7-day free trial! #[br] No credit card #[br.mobile-only] required
            p
              | We'll hand over the keys to your own #[br.mobile-only]
              | space that you can use as much as #[br.mobile-only]
              | you’d like for 7 days. #[br.mobile-only]
              | Use it right away and stay all day! #[br]
            script(type="text/javascript" src="//communication.openco.ca/form/generate.js?id=1")
