section.section
  .container
    nav.navbar.columns
      button.column.has-text-centered
        a.link(href='#grid')
          img(src='/assets/Latitude_logotype.svg')
      button.column.has-text-centered
        a.link.is-info(href='#form') Try it

section.section
  .container
    .columns
      .column.hero.has-text-centered
        h1.notification Online spaces that  actually encourage people to be together
        img(src="/assets/work_together_with_lt2d.svg")
  .container
    .columns
      .column.hero.has-text-centered
        h2.notification A video chat platform that transforms how you work, play, teach and learn online.
    .columns.has-text-centered
      .column
        img(src="/assets/Keys.svg")
        h3 No links or invitations to manage
        p Get the key to your own, permanant virtual building!
      .column
        img(src="/assets/Spaces.svg")
        h3 Interconnected rooms and spaces
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Apps.svg")
        h3 Embedded content and apps
        p Personalise rooms with whiteboards, books, videos and more.
  .container
    .columns
      .column.hero.is-info.call-out
        .has-text-centered
          h1.notification Can virtual experiences spark joy and creativity? We think so!
          button
            a.link.is-info(href='#form') Try it
    .columns.has-text-centered
      .column
        img(src="/assets/Keys.svg")
        h3 No links or invitations to manage
        p Get the key to your own, permanant virtual building!
      .column
        img(src="/assets/Spaces.svg")
        h3 Interconnected rooms and spaces
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Apps.svg")
        h3 Embedded content and apps
        p Personalise rooms with whiteboards, books, videos and more.
  .container
    .columns
      .column#form
        form.notification.is-info
          script(type='text/javascript' src='//communication.openco.ca/form/generate.js?id=1')
