section.section
  .container.wide.shadowed
    nav.navbar.columns
      button.column.has-text-centered
        a.link(href='#grid')
          img(src='/assets/Latitude_logotype.svg')
      button.column.has-text-centered
        a.link.is-info(href='#form') Try it

section.section
  .container
    .columns
      .column.hero.has-text-centered
        h1.notification Online spaces #[br.mobile-only] that  actually #[br.mobile-only] encourage people #[br.mobile-only] to be together
        img(src="/assets/work_together_with_lt2d.svg")
  .container
    .columns
      .column.hero.has-text-centered
        h2.notification A video chat platform #[br.mobile-only] that transforms how #[br.mobile-only] you work, play, teach #[br.mobile-only] and learn online.
    .columns.info.has-text-centered
      .column
        img(src="/assets/Keys.svg")
        h3 No links or invitations #[br.mobile-only] to manage
        p Get the key to your own, permanant virtual building!
      .column
        img(src="/assets/Spaces.svg")
        h3 Interconnected rooms #[br.mobile-only] and spaces
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Apps.svg")
        h3 Embedded content #[br.mobile-only] and apps
        p Personalise rooms with whiteboards, books, videos and more.
  .container
    .columns
      .column.hero.is-info.call-out.gradient
        .has-text-centered
          h1.notification Can virtual #[br.mobile-only] experiences spark joy #[br.mobile-only] and creativity? We think so!
          button
            a(href='#form') Try it for free
    .columns
      .column.hero.has-text-centered
        h2.notification Just what you need, #[br.mobile-only] right when you need #[br.mobile-only] it.
    .columns.info.has-text-centered
      .column
        img(src="/assets/Keys.svg")
        h3 No links or invitations 
        h3 to manage
        p Get the key to your own, permanant virtual building!
      .column
        img(src="/assets/Spaces.svg")
        h3 Interconnected
        h3 rooms and spaces
        p Create custom spaces and allow people to flow between them.
      .column
        img(src="/assets/Apps.svg")
        h3 Embedded content
        h3 and apps
        p Personalise rooms with whiteboards, books, videos and more.
  .container
    .columns
      .column#form.call-out.last
        form.notification
          script(type='text/javascript' src='//communication.openco.ca/form/generate.js?id=1')
